.gallery {
  display: flex;
}

.gallery__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.gallery picture {
  display: block;
  margin-left: 30px;
}

.gallery img {
  width: auto;
  height: auto;
}

.gallery__item {
  line-height: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__link picture {
  margin-left: 0;
}
