.header__top {
  border-bottom: 1px solid #f6f5f4;
}

.header__top-container {
  justify-content: space-between;
  align-items: flex-start;

  padding-top: 41px;
  padding-bottom: 18px;
}

.header__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  order: 2;

  width: calc(50% + 33px);
}

.header__menu--product-page {
  border-bottom: 1px solid #f6f5f4;
}

.header__search {
  order: 1;

  margin-top: 8px;
}

.header__logo-link {
  line-height: 0;
}

.header__logo {
  width: 66px;
  height: 66px;

  fill: $color-brown;
}

.header__user-block {
  order: 1;

  margin-top: 12px;
  margin-left: 50px;
}

.header__toggle {
  display: none;
}

.header__nav {
  margin-left: 10px;
}

.header--inner-page .header__top-container {
  align-items: center;

  padding-top: 30px;
  padding-bottom: 29px;
}

.header--inner-page .header__top-wrapper {
  align-items: center;
}

.header--inner-page .header__search {
  margin-top: 0;
}

.header--inner-page .header__user-block {
  margin-top: 5px;
}

@media (max-width: $tablet-width) {
  .header {
    position: relative;
  }

  .header__top {
    border: none;
  }

  .header__top-container {
    flex-direction: column;
    align-items: flex-end;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header__top-wrapper {
    align-items: center;
    order: 0;

    width: 100%;
  }

  .header__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    display: none;
    width: 100%;
    height: calc(100vh - 124px);
    padding-top: 2px;
    padding-bottom: 71px;
    padding-left: 45px;
    padding-right: 45px;

    background-color: $color-brown;
  }

  .header__logo-link {
    order: 2;
  }

  .header__toggle {
    position: relative;

    order: 1;

    display: block;
    width: 25px;
    height: 25px;
    margin-right: 281px;
    padding: 0;

    font-size: 0;

    background-color: transparent;
    border: none;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: 25px;
      height: 2px;

      background-color: #000000;
      box-shadow: 0 8px 0 0 #000000, 0 -8px 0 0 #000000;

      transform: translate(-50%, -50%);
    }
  }

  .header__nav {
    margin-left: 0;
  }

  .header__user-block {
    order: 3;

    margin-top: 5px;
  }

  .header__search {
    order: 0;

    margin-bottom: 48px;
  }

  .header--menu-opened,
  .header--no-js {
    background-color: $color-brown;
  }

  .header--menu-opened .header__menu {
    display: block;
    padding-bottom: 67px;
  }

  .header--menu-opened .header__toggle {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: 35px;
      height: 2px;

      background-color: #ffffff;
      box-shadow: none;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .header--menu-opened .header__nav {
    padding-bottom: 44px;
  }

  .header--menu-opened .header__login-btn {
    color: #ffffff;
  }

  .header--no-js .header__top-container {
    justify-content: flex-end;

    padding-bottom: 24px;
  }

  .header--no-js .header__top-wrapper {
    width: calc(50% + 33px);
    margin-bottom: 32px;
    margin-left: auto;
  }

  .header--no-js .header__menu {
    position: static;
    display: block;
    height: auto;
    padding-top: 24px;
    padding-bottom: 80px;
  }

  .header--menu-opened .header__logo,
  .header--no-js .header__logo {
    fill: #ffffff;
  }

  .header--no-js .header__toggle {
    display: none;
  }

  .header--no-js .header__search {
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-width) {
  .header__top-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__menu {
    height: calc(100vh - 92px);
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__logo {
    width: 52px;
    height: 52px;
  }

  .header__toggle {
    margin-right: 60px;
  }

  .header__user-block {
    margin-left: 10px;
  }

  .header__search {
    margin-bottom: 38px;
  }

  .header--menu-opened .header__nav {
    padding-bottom: 34px;
  }

  .header--menu-opened .header__menu,
  .header--no-js .header__menu {
    padding-bottom: 41px;
  }

  .header--no-js .header__top-container {
    padding-bottom: 19px;
  }

  .header--no-js .header__top-wrapper {
    width: calc(50% + 26px);
    margin-bottom: 22px;
  }

  .header--no-js .header__menu {
    padding-top: 19px;
  }

  .header--inner-page .header__top-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
