.intro {
  background-color: $color-brown;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &--index {
    background-image: url("../img/bg-index-intro-desktop@1x.jpg");

    box-shadow: 0 4px 4px 0 rgba(#000000, 0.25);
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &--index {
      background-image: url("../img/bg-index-intro-desktop@2x.jpg");
    }
  }

  &--catalog {
    background-image: url("../img/bg-catalog-intro-desktop@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &--catalog {
      background-image: url("../img/bg-catalog-intro-desktop@2x.jpg");
    }
  }
}

.intro__container {
  padding-top: 181px;
  padding-bottom: 180px;
}

.intro--catalog .intro__container {
  padding-top: 91px;
  padding-bottom: 94px;
}

.intro h1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  @include garamond-font-family;
  font-size: 38px;
  line-height: 50px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

.intro--catalog h1 {
  font-size: 22px;
  line-height: 28px;
}

.intro b {
  margin-bottom: -6px;

  font-size: 45px;
  line-height: 58px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.intro--catalog b {
  margin-bottom: 4px;

  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.8px;
}

@media (max-width: $tablet-width) {
  .intro {
    box-shadow: none;

    &--index {
      background-image: url("../img/bg-index-intro-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-index-intro-tablet@2x.jpg");
      }
    }

    &--catalog {
      background-image: url("../img/bg-catalog-intro-tablet@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-catalog-intro-tablet@2x.jpg");
      }
    }
  }

  .intro--index h1 {
    margin-left: -18px;
  }

  .intro--catalog b {
    letter-spacing: 0.4px;
  }
}

@media (max-width: $mobile-width) {
  .intro--index {
    background-image: url("../img/bg-index-intro-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-index-intro-mobile@2x.jpg");
    }
  }

  .intro__container {
    padding-top: 188px;
    padding-bottom: 187px;
  }

  .intro--catalog .intro__container {
    padding-top: 78px;
    padding-bottom: 83px;
  }

  .intro--index h1 {
    margin-left: 0;

    font-size: 34px;
    line-height: 44px;
  }

  .intro--catalog h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .intro--index b {
    font-size: 38px;
    line-height: 50px;
  }

  .intro--catalog b {
    font-size: 34px;
    line-height: 44px;
  }
}
