.paginator {
  border-top: 1px solid #f6f5f4;
}

.paginator__container {
  padding-top: 38px;
  padding-bottom: 73px;
}

.paginator__wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  width: calc(100% - 300px);
  padding-left: 300px;
}

.paginator__list {
  @include list-reset;
  display: flex;
  margin-left: -33px;
}

.paginator__item {
  display: block;
  margin-right: 13px;

  line-height: 0;

  &:last-child {
    margin-right: 0;
  }
}

.paginator__link {
  display: block;
  line-height: 21px;
  color: $color-grey;

  &--prev,
  &--next,
  &--active {
    color: $color-black;
  }

  &--next {
    text-align: right;
  }

  &:hover,
  &--prev:hover,
  &--next:hover {
    color: $color-brown;
  }

  &:active {
    color: $color-black;
  }

  &--prev:active,
  &--next:active {
    color: $color-grey;
  }

  &--active:hover,
  &--active:active {
    color: $color-black;

    cursor: default;
  }
}

@media (max-width: $tablet-width) {
  .paginator__wrapper {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .paginator {
    border: none;
  }

  .paginator__container {
    padding-top: 22px;
    padding-bottom: 63px;
  }

  .paginator__wrapper {
    justify-content: center;
  }

  .paginator__list {
    margin-left: 0;
  }

  .paginator__link {
    &--prev,
    &--next {
      display: none;
    }
  }

  .paginator__item {
    margin-right: 23px;
  }
}
