.user-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-block__btn {
  margin-bottom: 5px;
  margin-right: 35px;

  font-size: 14px;
  line-height: 21px;
  color: $color-black;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: rgba($color-black, 0.5);
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}

.user-block svg {
  display: none;
}

.user-block__cart-counter {
  margin-left: 3px;
}

@media (max-width: $tablet-width) {
  .user-block {
    justify-content: flex-end;

    width: 256px;
  }

  .user-block__btn {
    font-size: 18px;
    line-height: 23px;

    &--cart {
      font-size: 0;
      line-height: 0;
    }
  }

  .user-block svg {
    display: inline;
    margin-right: -4px;

    vertical-align: middle;
    stroke: $color-black;
    fill: transparent;
  }

  .user-block--no-js {
    width: auto;
  }

  .user-block--no-js .user-block__btn {
    margin-left: 35px;
    margin-right: 0;

    font-size: 14px;
    line-height: 21px;
    color: white;

    &--cart {
      font-size: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .user-block--no-js .user-block__cart-icon,
  .user-block--menu-opened .user-block__cart-icon {
    stroke: #ffffff;
  }
}

@media (max-width: $mobile-width) {
  .user-block {
    width: 75px;
  }

  .user-block--no-js .user-block__btn {
    margin-left: 15px;
  }
}
